*,
*::before,
*::after {
  box-sizing: border-box;
}

.search-bar-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 30px;
}

#searchBar {
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #191616;
  background-color: #FFFFFF;
  outline: none;
  transition: border-color 0.3s ease;
}

#searchBar::placeholder {
  color: #6B6B6B;
}

#searchBar:focus {
  border-color: #739068;
}

.IconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #739068;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  padding: 0.5rem;
  color: white;
}

.IconButton:hover {
  background-color: #6C8E55;
  transform: scale(1.1);
}

.MuiSvgIcon-root {
  font-size: 1.5rem;
}
