@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0 auto;
  background-color: #2f4f2f;
  background-image: url("../images/bg.png");
  background-repeat: repeat-y;
  background-size:cover;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

#content {
  min-height: 100vh;
}
